<html>
	<meta http-equiv="Content-Type" content="text/html; harset=utf-8">
    <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="js/jquery-ui-timepicker-addon.js"></script>
	<script src="js/jquery-ui-sliderAccess.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.0.custom.min.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui-timepicker-addon.css">
    <script type="text/javascript">
    function doAddTask(){
    	$.ajax({
    	    url: '/add',
    	    type: 'POST',
    	    data: {
       	        "send_content" : $('#send_content').val() ,
       	        "send_duedatetime" : $('#send_duedatetime').val() 
    	    },
    	    dataType: 'html',
    	    success: function( data ) {
				$('#taskslist').html(data);
				setInputDateTimePicker();
    	    },
    	    error: function( data ) {
    	    },
    	    complete: function( data ) {
    	    }
    	});
    }
    function doDeleteTask(key){
    	$.ajax({
    	    url: '/delete',
    	    type: 'POST',
    	    data: {
       	        "key" : key 
    	    },
    	    dataType: 'html',
    	    success: function( data ) {
				$('#taskslist').html(data);
				setInputDateTimePicker();
    	    },
    	    error: function( data ) {
    	    },
    	    complete: function( data ) {
    	    }
    	});
    }
    function doUpdateTask(key){
        var id_status = "status_"+key;
        var id_content = "content_"+key;
        var id_datetime = "datetime_"+key;
    	$.ajax({
    	    url: '/update',
    	    type: 'POST',
    	    data: {
       	        "key" : key ,
       	        "status" : $('#'+id_status).val() ,
       	        "content" : $('#'+id_content).val() ,
       	        "datetime" : $('#'+id_datetime).val()
    	    },
    	    dataType: 'html',
    	    success: function( data ) {
				$('#taskslist').html(data);
				setInputDateTimePicker();
    	    },
    	    error: function( data ) {
    	    },
    	    complete: function( data ) {
    	    }
    	});
    }
	function setInputDateTimePicker(){
		var datetime = document.getElementsByName("datetime");
		jQuery.each(datetime, function() {
			$("#" + this.id).datetimepicker(
				{
					dateFormat: 'yy-mm-dd',
					timeFormat: 'HH:mm'
				}
			);
		})
	}
	window.onload = function(){
		setInputDateTimePicker();
	}
    </script>
    </head>
    <body>
		{% include 'head.html' %}
        <form id="form" action="" method="post">
			<p>
            <table name="input_task">
				<tr><th>内容</th><th>期限</th></tr>
                <td><input type="text" id="send_content"></td>
                <td><input type="text" id="send_duedatetime"></td>
                <td><input type="button" value="追加" onclick="doAddTask()"></td>
                </tr>
            </table>
			</p>
			<div id="taskslist" >
				{% include 'list.html' %}
			</div>

        </form>
	<script type="text/javascript">
		$(function(){
			$("#send_duedatetime").datetimepicker(
				{
					dateFormat: 'yy-mm-dd',
					timeFormat: 'HH:mm'
				}
			);
		});
	</script>
    <body>
</html>